* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #16a34a;
  padding: 2px;
}

.navbar {
  margin: 10px;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #1e293b;
  font-size: 1rem;
  padding: 0 1%;
}
/* header end */

/* article */
.article {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.profil-img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
}

.about h1 {
  text-align: center;
  color: #1a1a1a;
  padding: 20px;
  font-size: 2rem;
}

.about p {
  color: #1e293b;
  font-size: 1rem;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
/* article end */

/* pemrograman */
.pemrograman h1 {
  text-align: center;
  color: #1a1a1a;
  padding: 20px;
  padding-top: 60px;
  font-size: 2rem;
}

.bahasa-pemrograman {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.bahasa-pemrograman-img {
  width: 80px;
  height: auto;
  object-fit: contain;
}
/* pemrograman end */

/* buku */
.buku h1 {
  text-align: center;
  color: #1a1a1a;
  padding: 20px;
  padding-top: 60px;
  font-size: 2rem;
}

.daftar-buku {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.urutan-buku {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid #cbd5e1;
}
/* buku end */

/* contact */
.contact h1 {
  text-align: center;
  color: #1a1a1a;
  padding: 10px;
  padding-top: 60px;
  font-size: 2rem;
}

.form-contact {
  text-align: center;
  color: #1a1a1a;
}

.form-contact label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.form-contact input {
  width: 300px;
  height: 40px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #cbd5e1;
}

input:focus {
  outline: none;
  border: 1px solid #16a34a;
}

.form-contact textarea {
  width: 300px;
  height: 120px;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid #cbd5e1;
}

textarea:focus {
  outline: none;
  border: 1px solid #16a34a;
}

.form-contact button {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #16a34a;
  color: #f7fafc;
  border: none;
  padding: 4px;
  width: 300px;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}
/* end contact */

/* footer */
.footer {
  background-color: #16a34a;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p {
  text-align: center;
  color: #1a1a1a;
  font-size: 1rem;
  padding-bottom: 10px;
}

.footer i {
  color: #1a1a1a;
  font-size: 22px;
  margin-left: 3px;
  padding: 4px;
}
/* end footer */

/* responsif */
@media screen and (max-width: 768px) {
  /* header */
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  /* end header */

  /* article */
  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }

  .profil-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }
  /* end article */

  /* pemrograman */
  .pemrograman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  /* end pemrograman */

  /* buku */
  .buku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  /* end buku */

  /* contact */
  .contact {
    padding: 0 20px;
  }

  .form-contact input {
    width: 100%;
    max-width: 300px;
  }

  .form-contact textarea {
    width: 100%;
    max-width: 300px;
  }

  .form-contact button {
    width: 100%;
    max-width: 300px;
  }
  /* end contact */

  /* footer */
  .footer p {
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
  }

  .footer-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-icon a {
    padding: 4px;
    min-width: 40px;
  }
  /* end footer */
}
